{{!--

@license Apache-2.0

Copyright (c) 2022 The Stdlib Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

--}}

<!DOCTYPE html>
<html lang="{{@site.locale}}" data-theme="light">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{meta_title}}</title>

	<link rel="stylesheet" href="{{asset "css/fonts.css"}}">
	<link rel="stylesheet" href="{{asset "css/themes/light/main.css"}}">
	<link rel="stylesheet" href="{{asset "css/highlight.css"}}">
	<link rel="stylesheet" href="{{asset "built/screen.css"}}">
	<style>
		a {
			text-decoration: none;
		}

		a:hover,
		a:active {
			text-decoration: underline;
		}

		a:not(.kg-btn):not(.kg-product-card-button):hover {
			opacity: 1;
		}

		.gh-content a,
		a.gh-card-link .gh-card-date {
			color: var(--link-color);
			text-decoration: none;
		}

		.gh-content a:hover,
		.gh-content a:active {
			text-decoration: underline;
		}

		a.gh-card-link:hover,
		a.gh-card-link:active {
			text-decoration: none;
		}

		blockquote:not([class]) {
			border-left-color: var(--blockquote-border-color);
		}

		.gh-content pre {
			overflow-x: auto;
		}

		.gh-head .gh-head-brand .gh-head-logo {
			font-weight: 500;
		}

		.gh-foot-menu .nav li + li::before {
			content: "/";
		}

		@media (max-width: 767px) {
			.gh-foot-menu .nav {
				flex-direction: row;
			}

			.gh-foot-menu .nav li + li {
				margin-top: 0;
			}

			.gh-foot-menu .nav li + li::before {
				display: block;
			}
		}
	</style>

	{{ghost_head}}
</head>

<body class="{{body_class}} is-head-b--a_n{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
	<div class="gh-site">
		<header id="gh-head" class="gh-head gh-outer">
			<div class="gh-head-inner gh-inner">
				<div class="gh-head-brand">
					<a class="gh-head-logo" href="{{@site.url}}">
						{{#if @site.logo}}
							<img src="{{@site.logo}}" alt="{{@site.title}}">
						{{else}}
							{{@site.title}}
						{{/if}}
					</a>
					<button class="gh-burger" aria-label="Top navigation"></button>
				</div>

				<nav class="gh-head-menu" aria-label="primary">
					{{navigation}}
				</nav>

				<div class="gh-head-actions">

				</div>
			</div>
		</header>

		{{{body}}}

		<footer class="gh-foot gh-outer">
			<div class="gh-foot-inner gh-inner">
				<div class="gh-copyright">
					{{@site.title}} &copy; {{date format="YYYY"}}
				</div>

				<nav class="gh-foot-menu" aria-label="secondary">
					{{navigation type="secondary"}}
				</nav>

				<div class="gh-powered-by">
					<a href="https://stdlib.io/" target="_blank" rel="noopener">A stdlib blog</a>
				</div>
			</div>
		</footer>
	</div>

	{{#is "post, page"}}
		{{> pswp}}
	{{/is}}

	<script src="{{asset "built/main.min.js"}}"></script>
	<script src="{{asset "js/highlight.min.js"}}"></script>
	<script>hljs.highlightAll();</script>

	{{ghost_foot}}
</body>

</html>
