{{!--

@license Apache-2.0

Copyright (c) 2022 The Stdlib Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

--}}

{{!< default}}

{{#post}}

<main id="gh-main" class="gh-main">
	<article class="gh-article {{post_class}}">
		<header class="gh-article-header gh-canvas">
			{{#is "post"}}
				<span class="gh-article-meta">
					By&nbsp;
					{{#has author="count:>1"}}
						{{!-- Multiple authors --}}
						{{#foreach authors}}
							{{#if @first}}
								<a href="{{url}}">{{name}}</a>
							{{else if @last}}
								and <a href="{{url}}">{{name}}</a>
							{{else}}
								, <a href="{{url}}">{{name}}</a>
							{{/if}}
						{{/foreach}}
					{{else}}
						{{!-- Single author --}}
						{{#primary_author}}
							<a href="{{url}}">{{name}}</a>
						{{/primary_author}}
					{{/has}}
					{{#if primary_tag}}
						in
						<a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
					{{/if}}
					—
					<time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
				</span>
			{{/is}}

			<h1 class="gh-article-title">{{title}}</h1>

			{{#if custom_excerpt}}
				<p class="gh-article-excerpt">{{custom_excerpt}}</p>
			{{/if}}

			{{#if feature_image}}
				<figure class="gh-article-image">
					<img
						srcset="{{img_url feature_image size="s"}} 300w,
										{{img_url feature_image size="m"}} 720w,
										{{img_url feature_image size="l"}} 960w,
										{{img_url feature_image size="xl"}} 1200w,
										{{img_url feature_image size="xxl"}} 2000w"
						sizes="(max-width: 1200px) 100vw, 1200px"
						src="{{img_url feature_image size="xl"}}"
						alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
					>
					{{#if feature_image_caption}}
						<figcaption>{{feature_image_caption}}</figcaption>
					{{/if}}
				</figure>
			{{/if}}
		</header>

		<div class="gh-content gh-canvas">
			{{content}}
		</div>

		{{#is "post"}}
			<footer class="gh-article-footer gh-canvas">
				<nav class="gh-navigation" aria-label="pagination">
					<div class="gh-navigation-previous">
						{{#prev_post}}
							<a class="gh-navigation-link" href="{{url}}">
								<span class="gh-navigation-label">{{> icons/arrow-left}} Previous post</span>
								<h4 class="gh-navigation-title">{{title}}</h4>
							</a>
						{{/prev_post}}
					</div>

					<div class="gh-navigation-middle"></div>

					<div class="gh-navigation-next">
						{{#next_post}}
							<a class="gh-navigation-link" href="{{url}}">
								<span class="gh-navigation-label">Next post {{> icons/arrow-right}}</span>
								<h4 class="gh-navigation-title">{{title}}</h4>
							</a>
						{{/next_post}}
					</div>
				</nav>
			</footer>
		{{/is}}
	</article>
</main>

{{/post}}
